.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-container a {
  text-decoration: none;
  letter-spacing: 1px;
}
.theme-container a:visited {
  text-decoration: none;
  color: #fff;
}

.theme-container img {
  margin-left: 16px;
}

@media screen and (min-width: 475px) {
  .header-container {
    width: 436px;
    margin: 0 auto;
  }
}
/* @media screen and (min-width: 400px) {
  h1 {
    margin-left: 65px;
    font-size: 25px;
  }

  .header-container {
    margin-top: 100px;
  }

  .theme-container img {
    margin-right: 60px;
  }

  .theme-container a {
    font-size: 10px;
  }
} */